# Sensitive environment variables
.env

# Python virtual environment
.venv/
env/
venv/
ENV/

# Python cache files
**/__pycache__/
*.py[cod]
*$py.class

# IDE and Editor configurations
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
